{
  "extends": ["airbnb", "prettier", "plugin:jest/all" ],
  "plugins": ["prettier", "jest"],
  "env": { "browser": true },
  "rules": {
    "prettier/prettier": ["error"],
	"no-use-before-define": ["error", { "functions": false }],
  },
}
