.login {
  font-family: Helvetica;
  font-size: 14px;
  width: 300px;
  margin: 5px;
  box-shadow: 0 2px 4px gray;
  padding: 10px 20px 20px;
  border-radius: 3px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.login__form-caption {
  color: gray;
}

.login__mail-label,
.login__password-label {
  padding: 5px 10px;
  display: block;
  width: 100%;
}

#login-mail,
#login-password {
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.login__password-requirements {
  padding: 0 10px;
}

.login__agree-with-terms-hint-icon,
.login__password-requirement-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.login__password-requirement-icon--full-filled {
  color: green;
}

.login__password-requirement-icon--not-full-filled {
  color: red;
}

.login__email-input--valid,
.login__password-input--valid {
  border: 1px solid lightgray;
}

.login__email-input--invalid,
.login__password-input--invalid {
  border: 1px solid red;
}

.login__requirement-icon-svg {
  width: 14px;
  height: 14px;
}

.login__password-input-wrapper {
  position: relative;
}

.login__show-password-toggle {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  right: 20px;
  background: none;
  bottom: 13px;
  border: none;
  padding: 0;
  color: gray;
  cursor: pointer;
}

.login__show-password-toggle:hover,
.login__show-password-toggle:active {
  color: black;
}

.login__show-password-icon,
.login__hide-password-icon {
  width: 100%;
  height: 100%;
}

.login__submit-button {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: tomato;
  text-transform: uppercase;
  box-shadow: 0 2px 4px gray;
  cursor: pointer;
}

.login__submit-button:hover {
  background-color: orangered;
  box-shadow: 0 2px 4px orangered;
}

.login__submit-button:active {
  background-color: brown;
  box-shadow: 0 2px 4px brown;
}

.login__agree-with-terms {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.login__terms-of-service-hint {
  color: red;
  margin: 10px 0 0;
}

.login__agree-with-terms--error {
  border: 1px solid red;
}

.login__agree-with-terms-hint-icon {
  color: red;
}
